.feedbackOptions__list {
    display: flex;
        justify-content: center;
        gap: 15px;
}

.feedbackOptions__button {

    font-size: 17px;
        font-weight: 500;
        height: 30px;
        width: 100px;
        border: 2px solid #c7c7c7;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        background: #eddff0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
    
    }
        .feedbackOptions__button:hover,
        .feedbackOptions__button:focus {
    
        border-color: transparent;
        color: #12111100;
    
}